node_modules
.env*
!.env.example

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Default folder for deployments against a local node
/deployments/*